<nav class="navbar">
  <a href="" class="navbar-brand" routerLink="/">Home</a>
  <div>
    <button class="btn navbar-link" routerLink="/settings">Settings</button>
    &nbsp;
    <button class="btn navbar-link" routerLink="/new/transaction">Create transaction</button>
    &nbsp;
    <button class="btn navbar-link" routerLink="/new/transaction/pending">Pending transaction</button>
    &nbsp;
    <button class="btn navbar-link contact" routerLink="/contact">Contacts
    <span *ngIf="counter > 0" class="notify">{{updateCounter}}</span></button>
  </div>
</nav>
<router-outlet></router-outlet>